# Файл .env.example
# ВНИМАНИЕ: Это тестовые токены для локальной разработки!
# Для запуска проекта скопируйте этот файл под именем .env (cp .env.example .env)

TEACHER_TOKEN=dev_teacher_token_secret
COLLECTOR_TOKEN=dev_collector_token_secret
STUDENT_TOKEN=dev_student_token_secret
